{% extends 'post/base.html' %}

{% block body %}
<h3 class="text-center">{{profile|capfirst}}</h3>
<h5 class="text-center">{{profile.profile.bio}}</h5>
<br>

{% if request.user == profile %}
    

    
<div class="text-center"><a href="{% url 'accounts:editprofile' request.user %}">
<button class="btn btn-outline-success" type="button">Edit Profile</button><br>
<br> </a></div> 
{% endif %}  
{% for post in object_list  %}

    <div class = 'card'>
        <p class= 'card-header'>{{post.created | timesince }}</p>
    <a href="{{post.get_absolute_url}}"> <p class= 'card-body'>{{post.body}}</p></a>
    </div><br>
    {% endfor %}
{% endblock body %}

