{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block body %}
<main id="edit-profile">

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.username.errors }}
    {{ form.username|as_crispy_field }}
</div><br>
<div class="fieldWrapper">
    {{ form.password.errors }}
    {{ form.password|as_crispy_field }}
</div><br>
<div class="row">
    <div>
       <a href="{% url 'accounts:reset' %}"> <p>Forget Password?</p></a>

    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-primary">

    </div>
</div>
    </form>
    
</main>

{% endblock body %}

