{% extends "base.html" %}
{% block body %}
    <main id="feed">
        
        <div class="photo">
            
            <div class="container">
                
            <header class="photo__header row">
                <a href="{% url 'accounts:profile' post.user.username %}">
                <img src="{{post.user.avatar.url}}" class="photo__avatar" />
                <div class="photo__user-info">
                    
                    <span class="photo__author">{{post.user.username}}</span></a>
                </div>
                {% if post.user == request.user %}   
                <a href="{% url 'post:del' post.slug %}"><p style="margin-left:350px" class="btn btn-danger ">Delete</p></a>
                <a href="{% url 'post:edit' post.slug %}"><p style="margin-left:4px" class="btn btn-primary ">Edit</p></a>
                {% endif %}
            </header> 
        </div>   
        {% if user.is_authenticated %}<a href="{% url 'like:like_url' post.id %}">{% endif %}
            <img src="{{post.image.url}}" style="width:100%"/>
        </a>
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        
                        {% if is_like %}
                        {% if user.is_authenticated %}<a href="{% url 'like:unlike_url' post.id %}"> {% endif %}<i class="fa fa-heart fa-lg"></i></a>

                        {% else %}
                        {% if user.is_authenticated %}<a href="{% url 'like:like_url' post.id %}">{% endif %}<i class="fa fa-heart-o fa-lg"></i></a>

                        {% endif %}
                            
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <div class="row">
                <a href="{% url 'like:listlike' post.slug %}"><span class="photo__likes col">{{post.postlike.count}} like{{post.postlike.count|pluralize}}</span></a>
                <span class="photo__likes ">{{comments.count}} comment{{comments.count.count|pluralize}}</span></span>
                <span class="photo__likes col order-1">{{post_view}} view{{post_view|pluralize}}</span></span>
                </div>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">{{post.user.username}}</span> {{post.body}}
                    </li>
                    
                </ul>
                <span class="photo__time-ago">{{post.created|timesince }}</span>
                <div class="">
                    <hr>
                    <span class="photo__time-ago col-lt-4">This post has {{comments.count}} comment{{comments.count|pluralize}}</span>
                    <br>
                    {% if request.user.is_authenticated %}  
                    <form method="post" action="">
                    {% csrf_token %}
        
                    {{ comment_form.body }}
                    <br>
                    <input class = 'btn btn-primary' type="submit" value="Add Comment">

                    </form>

                    {% else %}
                    <p>please login to submit new comments</p>
                    {% endif %}

                    

                    {% for comment in comments %}
                    <br>
                    <div class="card bg-dark text-white">
                        <p class="card-header">{{comment.user}}</p>
                        <p class="card-body">{{comment.body}}</p>
                        
                            
                                
                    {% for reply in comment.ccomment.all %}
                    <div class="bg-white text-dark  m-3 mt-0">
                     <p class="card-header">{{reply.user}}</p>
                     <p class="card-body"> {{reply.body}}</p>
                    </div>
                    
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <div class="m-4">
                    <form method="post" action="{% url 'comment:addreply' post.slug comment.id  %}">
                        {% csrf_token %}
                        <label for="{{ reply_comment_form.body.id_for_label }}">reply:</label>
                        <br><br>{{ reply_comment_form.body }}<br><br>
                        <input class = 'btn btn-primary' type="submit" value="Add reply">
                            </form>
                        </div>
                {% endif %}
                </div><br>
                    {% endfor %}


                </div>
            </div>
        
        </div>
        
    </main>
    {% endblock body %}