{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Social</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        /* unvisited link */
        a:link {
          color: rgb(0, 0, 0);
        }
        /* visited link */
        a:visited {
          color: rgb(0, 0, 0);
        }
        /* mouse over link */
        a:hover {
          color: rgb(0, 0, 0);
        }
        /* selected link */
        a:active {
          color: rgb(0, 0, 0);
        }
      </style>
</head>
<body>
    {% include 'inc/navbar.html' %}
    {% include 'inc/messages.html' %}
    {% block body %}
      
    {% endblock body %}
    {% include 'inc/footer.html' %}
    {% block footer %}
      
    {% endblock footer %}
</body>
</html>