{% extends 'post/base.html' %}
{% block body %}
    
{% if post.user == request.user %}   
<a href="{% url 'accounts:del' post.slug %}"><p class="btn btn-danger">Delete</p></a>
<a href="{% url 'accounts:edit' post.slug %}"><p class="btn btn-primary">Edit</p></a>
{% endif %}
    <div class="card">
    <p class="card-header">{{post.user.first_name}} {{post.created | timesince}}</p>
    <P class="card-body">{{post.body}}</P>
    </div>  <br> 
    <div class="card">
        <div class = " card-header">

            <div class="container">
                 <div class="row">
                    <div class="col-md-8 ">
                         Comment
                    </div>
                    <div class="col-4">
                      This post has {{comments.count}} comment{{comments.count|pluralize}}
                    </div>
                </div></div>
        </div>
    <div class = " card-body">
        
        {% if request.user.is_authenticated %}  
        <form method="post" action="">
        {% csrf_token %}
        
        <label for="{{ form.body.id_for_label }}">comment:</label>
        {{ form.body }}<br><br>
        <input class = 'btn btn-primary' type="submit" value="Add Comment">

        </form>
        {% else %}
        <p>please login to submit new comments</p>
        {% endif %}
    </div></div><br>
    {% for comment in comments %}
    
    <div class="card bg-dark text-white">
        <p class="card-header">{{comment.user}}</p>
        <p class="card-body">{{comment.body}}</p>
        
            
                
    {% for reply in comment.ccomment.all %}
    <div class="bg-white text-dark  m-3 mt-0">
     <p class="card-header">{{reply.user}}</p>
     <p class="card-body"> {{reply.body}}</p>
    </div>
    
    {% endfor %}
    {% if request.user.is_authenticated %}
    <div class="m-4">
    <form method="post" action="{% url 'comment:addreply' post.slug comment.id  %}">
        {% csrf_token %}
        <label for="{{ form_reply.body.id_for_label }}">reply:</label>
        {{ form_reply.body }}<br><br>
        <input class = 'btn btn-primary' type="submit" value="Add reply">
            </form>
        </div>
{% endif %}
</div><br>
    {% endfor %}
    
{% endblock body %}